<div class="column">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2">Rechercher une Faune</h1>
      <h2 class="hr">Et trouver sa fiche détaillée</h2>
    </div>
  </div>
</div>
