<div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2">Rechercher une Faune</h1>
      <h2 class="hr">Et trouver sa fiche détaillée</h2>
    </div>
  </div>
</div>

<div>
  <div class="row  border" style="width:100%">

    <!-- BLOC filtres  -->
    <!-- BLOC formulaire  -->
    <div class="column mt-5 ml-5 justify-content-center border" style="width: 35%">
      <div id="formulaire" class="column mr-5" >
        <div id="btnSubmit" class="btn bg-white"
             style=" width: 100%; height: 50px; font-size: large; color :#8bc34a; font-style: italic; font-weight: bold; font-style: italic">Triez par ordre alphabétique
        </div>
        <div id="accordion">
          <!--AB-->
          <div>
            <div id="sideBar" style="background-color:#8bc34a">
              <h5 class="mb-0" style="font-size: large; font-weight: bold">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par A et B
                </button>
              </h5>
            </div>
          </div>

          <!--CD-->
          <div>
            <div id="sideBar" style="background-color:#9ccc65">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par C et D
                </button>
              </h5>
            </div>
          </div>

          <!--EF-->
          <div>
            <div id="sideBar" style="background-color:#aed581">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par E et F
                </button>
              </h5>
            </div>
          </div>

          <!--GH-->
          <div>
            <div id="sideBar" style="background-color:#c5e1a5">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par G et H
                </button>
              </h5>
            </div>
          </div>

          <!--IJK-->
          <div>
            <div id="sideBar" style="background-color:#dcedc8">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par I, J et K
                </button>
              </h5>
            </div>
          </div>

          <!--LMN-->
          <div>
            <div id="sideBar" style="background-color:#f1f8e9">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par L, M et N
                </button>
              </h5>
            </div>
          </div>

          <!--OPQ-->
          <div>
            <div id="sideBar" style="background-color:#dcedc8">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par O, P et Q
                </button>
              </h5>
            </div>
          </div>

          <!--RST-->
          <div>
            <div id="sideBar" style="background-color:#c5e1a5">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par R, S et T
                </button>
              </h5>
            </div>
          </div>

          <!--UVW-->
          <div>
            <div id="sideBar" style="background-color:#aed581">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par U, V et W
                </button>
              </h5>
            </div>
          </div>

          <!--XYZ-->
          <div>
            <div id="sideBar" style="background-color:#9ccc65">
              <h5 class="mb-0">
                <button type="submit" class="btn shadow-none collapsed"
                        style="width: 100%; text-align: center; font-size: 18px; font-weight: bold">Faunes commençant par X, Y et Z
                </button>
              </h5>
            </div>
          </div>
        </div>
        </div>
      </div>


        <!-- BLOC résultat  -->
      <div id="result" class="column mt-5 border" style="width: 60%">
        <tr *ngFor="let faune of list()">
          <div class=" m-3 " *ngIf="filterCarac(faune,'NomLatin')!= 'non renseigné'">
            <div class="m-2 align-items-center">
              <button id="btnResultat" style="width: 100%;height: 10%">
                <!-- BLOC Images  -->
                <div class="row m-2 align-items-center">
                  <div class="column" style="width: 15%;">
                    <img src="{{filterCarac(faune, 'Image')}}"
                         style="width: 85%; height: 80%"/>
                  </div>
                  <!-- BLOC Texte  -->
                  <div class="column align-middle" style="width: 80%;">
                    <h5>{{faune.nomFaune}}</h5>
                    <h6 style="font-style: italic">{{filterCarac(faune, 'NomLatin')}}</h6>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </tr>
      </div>


  </div>
</div>
