<div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">{{floreService.flore.nom}}</h1>
      <h2 class="hr ">{{filterCarac(floreService.flore, 'NomLatin')}}</h2>
    </div>
  </div>

  <div class="row m-5">
    <div id="connexionFournisseur" class="column " style="width: 30%; height: 100%">
      <!--BLOC CONNEXION-->
      <div class="row p-4 ">
        <div class="row ml-4 justify-content-center align-items-center" style="width:90%">
          <h6 class="text-center" style="font-size: 18px">
            Connectez-vous à votre <br> espace client pour accèder à :
          </h6>
        </div>
        <div class="row justify-content-center align-items-center mt-3 p-1">
          <button id="buttonFavoris" type="button"
                  class="btn border shadow-none justify-content-center align-items-center"
                  style="height: 40%; width: 70%;" disabled>
            <div class="row justify-content-center align-items-center">
              <div class="column align-middle" style="width:15%;">
                <i class="fas fa-tag fa-2x" style="color: #8bc34a"></i>
              </div>
              <div class="column" style="width: 65%;">
                <h6>Revenir plus tard</h6>
              </div>
            </div>
          </button>
          <button id="buttonMonPetitJardin" type="button"
                  class="btn border mb-4 mt-4 shadow-none justify-content-center align-items-center"
                  style="height: 40%; width: 70%;"
                  disabled>
            <div class="row justify-content-center ">
              <div class="column" style="width:15%;">
                <div class="column align-middle" style="width:15%;">
                  <i class="fas fa-heart fa-2x" style="color: #8bc34a"></i>
                </div>
              </div>
              <div class="column" style="width: 65%;">
                <h6>Ajouter à MonPetitJardin</h6>
              </div>
            </div>
          </button>
        </div>
      </div>
      <!--BLOC FOURNISSEUR-->
      <div id="fournisseur" class="row p-4 ">
        <div class="row ml-4 justify-content-center align-items-center " style="width:90%">
          <h6 style="font-size: 18px">
            Achetez vos plants <br> chez nos partenaires :
          </h6>
        </div>
        <div class="row justify-content-center align-items-center mt-3 p-1">
          <button id="buttonAjoutPanier" type="button"
                  class="btn border shadow-none justify-content-center align-items-center"
                  style="height: 40%; width: 70%;" disabled>
            <div class="row justify-content-center align-items-center">
              <div class="column mr-2" style="width:15%;">
                <div class="column align-middle" style="width:15%;">
                  <i class="fas fa-shopping-basket fa-2x" style="color: #8bc34a"></i>
                </div>
              </div>
              <div class="column" style="width: 65%;">
                <h5>Fournisseur 1</h5>
                <h6>Produit - Variété</h6>
                <h6 style="font-style: italic">(Nb +Stock)</h6>
              </div>
            </div>
          </button>
          <button id="buttonAjoutPanier" type="button"
                  class="btn border mb-4 mt-4 shadow-none justify-content-center align-items-center"
                  style="height: 40%; width: 70%;"
                  disabled>
            <div class="row justify-content-center align-items-center">
              <div class="column mr-2" style="width:15%;">
                <div class="column align-middle" style="width:15%;">
                  <i class="fas fa-shopping-basket fa-2x" style="color: #8bc34a"></i>
                </div>
              </div>
              <div class="column" style="width: 65%;">
                <h5>Fournisseur 2</h5>
                <h6>Produit - Variété</h6>
                <h6 style="font-style: italic">(Nb +Stock)</h6>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- BLOC TEXTE/PHOTOS ET CARACTERISTIQUES -->
    <div id="fiche" class="column ml-5  " style="width: 65% ; height: 100%">
      <!-- BLOC TEXTE -->
      <div class="row justify-content-center align-items-center ">
        <div id="textePhoto" class="row justify-content-center align-items-center mx-3 p-3" style="height: 45%">
          {{filterCarac(floreService.flore, 'Descriptif')}}
        </div>
      </div>

      <!-- BLOC PHOTOS -->
      <div class="row justify-content-center align-items-center ">
        <div id="textePhoto" class="row justify-content-center align-items-center" style="height: 45%">
          <div class="border m-3" style="width: 28%; height: 150px">
            <img src="{{filterCarac(floreService.flore, 'Image')}}" style="width: 100%; height: 100%">
          </div>
          <div class="border m-3" style="width: 28%; height: 150px"
               *ngIf="filterCarac(floreService.flore, 'Image2')!= 'non renseigné'">
            <img src="{{filterCarac(floreService.flore, 'Image2')}}" style="width: 100%; height: 100%">
          </div>
          <div class="border m-3" style="width: 28%; height: 150px"
               *ngIf="filterCarac(floreService.flore, 'Image3')!= 'non renseigné'">
            <img src="{{filterCarac(floreService.flore, 'Image3')}}" style="width: 100%; height: 100%">
          </div>
        </div>
      </div>
      <div id="borderBottom"></div>

      <!-- BLOC CARACT + LIENS -->
      <div class="justify-content-center align-items-center ">
        <!--Nom-->
        <div id="caract" class="row mt-2 justify-content-center p-2" style="height: 45%">
          <h6 class="text-center" style="font-size: 18px">Caractéristiques :</h6>
        </div>
        <!--Ligne 1 carac-->
        <div class="row justify-content-center">
          <!--Longueur-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Diamètre').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip" data-placement="top" title="Longueur">
                <i class="fas fa-circle fa-stack-2x" style="color: #03a9f4; opacity: 0.2"></i>
                <i id="longueur" class="fas fa-arrows-alt-h fa-stack-1x" style="color: #03a9f4"></i>
              </a>
            </div>
            <div id="resultLongueur" class="column ml-3 mt-2 " style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Diamètre')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Hauteur-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Hauteur').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Hauteur">
                <i class="fas fa-circle fa-stack-2x" style="color: #00bcd4; opacity: 0.2"></i>
                <i id="hauteur" class="fas fa-arrows-alt-v fa-stack-1x" style="color: #00bcd4"></i>
              </a>
            </div>
            <div id="resultLargeur" class="column ml-3 mt-2" style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Hauteur')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Ensoleillement-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Ensoleillement').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Ensoleillement">
                <i class="fas fa-circle fa-stack-2x" style="color: #ffeb3b; opacity: 0.2"></i>
                <i id="ensoleillement" class="fas fa-sun fa-stack-1x" style="color: #ffeb3b"></i>
              </a>
            </div>
            <div id="resultEnsoleillement" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Ensoleillement')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Sol-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Texture').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Sol">
                <i class="fas fa-circle fa-stack-2x" style="color: #33691e; opacity: 0.2"></i>
                <i id="sol" class="fas fa-globe fa-stack-1x" style="color: #33691e"></i>
              </a>
            </div>
            <div id="resultSol" class="column mt-2" style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Texture')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Arrosage-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Arrosage').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Arrosage">
                <i class="fas fa-circle fa-stack-2x" style="color: #0d47a1; opacity: 0.2"></i>
                <i id="arrosage" class="fas fa-tint fa-stack-1x" style="color: #0d47a1"></i>
              </a>
            </div>
            <div id="resultArrosage" class="column mt-2" style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Arrosage')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Résistance au froid-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'RésistanceAuFroid').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Résistance au froid">
                <i class="fas fa-circle fa-stack-2x" style="color: #f44336; opacity: 0.2"></i>
                <i id="froid" class="far fa-snowflake fa-stack-1x" style="color: #f44336"></i>
              </a>
            </div>
            <div id="resultFroid" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div
                *ngFor="let caracValeur of tableauCarac(floreService.flore, 'RésistanceAuFroid')">{{caracValeur}}</div>
            </div>
          </div>
        </div>

        <!--Ligne 2 carac-->
        <div class="row justify-content-center mt-3 mb-3">
          <!--Température-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Température').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Température">
                <i class="fas fa-circle fa-stack-2x" style="color: #9e9e9e; opacity: 0.2"></i>
                <i id="temperature" class="fas fa-thermometer-half fa-stack-1x" style="color: #9e9e9e"></i>
              </a>
            </div>
            <div id="resultTemperature" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Température')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Vent-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Vent').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Vent">
                <i class="fas fa-circle fa-stack-2x" style="color: #ff9800; opacity: 0.2"></i>
                <i id="vent" class="fab fa-mixcloud fa-stack-1x" style="color: #ff9800"></i>
              </a>
            </div>
            <div id="resultVent" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Vent')">{{caracValeur}}</div>
            </div>
          </div>
          <!--pH-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'pH').length!=0">
            <div class="fa-stack ml-3 fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="pH">
                <i class="fas fa-circle fa-stack-2x" style="color: #fff59d; opacity: 0.2"></i>
                <i id="ph" class="fa-stack-1x" style="color: #fff59d">pH</i>
              </a>
            </div>
            <div id="resultPh" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'pH')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Remontant-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Remontant').length!=0">
            <div class="fa-stack ml-2 fa-1x">
              <a data-toggle="tooltip"  data-placement="top" title="Remontant">
                <i class="fas fa-circle fa-stack-2x" style="color: #9c27b0; opacity: 0.2"></i>
                <i id="remontant" class="far fa-calendar-plus fa-stack-1x" style="color: #9c27b0"></i>
              </a>
            </div>
            <div id="resultRemontant" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Remontant')">{{caracValeur}}</div>
            </div>
          </div>
          <!--Floraison-->
          <div class="column mr-5 " *ngIf="tableauCarac(floreService.flore,'Végétation').length!=0">
            <div class="fa-stack fa-1x">
              <a data-toggle="tooltip" data-placement="top" title="Vivace">
                <i class="fas fa-circle fa-stack-2x" style="color: #f44336; opacity: 0.2"></i>
                <i id="vivace" class="fas fa-infinity fa-stack-1x" style="color: #f44336"></i>
              </a>
            </div>
            <div id="resultFloraison" class="column ml-2 mt-2"
                 style="vertical-align: middle; font-size: xx-small;">
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Végétation')">{{caracValeur}}</div>
            </div>
          </div>
        </div>

      </div>
      <div id="borderBottom"></div>

      <!-- BLOC CALENDRIER -->
      <div class="justify-content-center align-items-center ">
        <!--Nom-->
        <div id="caract" class="row mt-2 justify-content-center p-2" style="height: 45%">
          <h6 class="text-center" style="font-size: 18px">Calendrier Semis et récolte :</h6>
        </div>
        <div class="row justify-content-center mb-3">
          <!--Calendrier semis-->
          <div class="column mr-2 justify-content-center">
            <div>
                <table class="table table-bordered " id="tableauRecolteSemis">
                  <tr style="height: 70px">
                    <td style="width: 170px" class="align-middle text-center">Janvier  <a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Janvier')"><i class="fas fa-leaf mx-2"  style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Janvier')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Février<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Février')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Février')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle  text-center">Mars<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Mars')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Mars')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Avril<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Avril')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Avril')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                  </tr>
                  <tr style="height: 70px">
                    <td style="width: 170px" class="align-middle text-center">Mai<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Mai')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Mai')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Juin<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Juin')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Juin')"><i class="fas fa-seedling mx-2" style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Juillet<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Juillet')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Juillet')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Août<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Août')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Août')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                  </tr>
                  <tr style="height: 70px">
                    <td style="width: 170px" class="align-middle text-center">Septembre<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Septembre')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Septembre')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Octobre<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Octobre')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Octobre')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Novembre<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Novembre')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Novembre')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                    <td style="width: 170px" class="align-middle text-center">Décembre<a
                      *ngIf="valeurCarac(floreService.flore,'Récolte','Décembre')"><i class="fas fa-leaf mx-2" style="color: #8bc34a"></i></a><a
                      *ngIf="valeurCarac(floreService.flore,'Plantation','Décembre')"><i class="fas fa-seedling mx-2"style="color: #795548"></i></a></td>
                  </tr>
                </table>
              <div class="text-center">
                <i class="fas fa-leaf mx-2" style="color: #8bc34a"></i> : période de récolte
                <i class="fas fa-seedling mx-2" style="color: #795548"></i> : période de plantation
            </div>
          </div>
        </div>
        <div id="borderBottom"></div>

        <!-- BLOC LIEN FLORE -->
        <div class="justify-content-center align-items-center mt-3" id="liensFlore">
          <!--Nom-->
          <div id="lienFlore" class="row justify-content-center p-2 mt-1" >
            <h6 class="text-center" style="font-size: 18px">Relation flore :</h6>
          </div>
          <!--Type de lien-->
          <div class="row justify-content-center mb-3 text-center">
            <div id="lienFloreCompagnes" class="column justify-content-center mr-5 ml-5 text-center">
              <div class="row ">
                <h6 class="text-center" style="font-size: 15px">Compagnes :</h6>
              </div>
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Kompagne')" class="row">
                <button class="btn btn-outline-success" (click)="redirectToFicheFlore(caracValeur)">{{caracValeur}}</button>
              </div>
            </div>
            <div id="lienFloreEnnemies" class="column justify-content-center mr-5 ml-5 text-center" >
              <div class="row ">
                <h6 class="text-center" style="font-size: 15px">Ennemies :</h6>
              </div>
              <div *ngFor="let caracValeur of tableauCarac(floreService.flore, 'Ennemie')" class="row">
                <button class="btn btn-outline-success" (click)="redirectToFicheFlore(caracValeur)">{{caracValeur}}</button>
              </div>
            </div>
          </div>
        </div>
        <div id="borderBottom"></div>

        <!-- BLOC LIEN FAUNE -->
        <div class="justify-content-center align-items-center mt-3" id="liensFaune">
          <!--Nom-->
          <div id="lienFaune " class="row justify-content-center p-2 mt-1">
            <h6 class="text-center" style="font-size: 18px">Relation faune :</h6>
          </div>
          <!--Type de lien-->
          <div class="row justify-content-center align-items-center mb-3">
            <div id="lienFaunePred" class="column justify-content-center mr-5 ml-5">
              <div class="row justify-content-center">
                <h6 class="text-center" style="font-size: 15px">Répulsifs :</h6>
              </div>
              <div *ngFor="let caracValeur of tableauCaracFauneFlore(floreService.flore, 'Répulsion').slice(0,3)" class="row">
                <button class="btn btn-outline-success" (click)="redirectToFicheFaune(caracValeur)">{{caracValeur}}</button>
              </div>
            </div>
            <div id="lienFaunePoll" class="column justify-content-center mr-5 ml-5">
              <div class="row justify-content-center">
                <h6 class="text-center" style="font-size: 15px">Pollinisateurs/Attractifs :</h6>
              </div>
              <div *ngFor="let caracValeur of tableauCaracFauneFlore(floreService.flore, 'Attraction').slice(0,3)" class="row">
                <button class="btn btn-outline-success" (click)="redirectToFicheFaune(caracValeur)">{{caracValeur}}</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
