<div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Prenom</h1> <!--{{compteUtilisateurService.compteUtilisateur.prenom}}-->
      <h2 class="hr ">Vérifie et modifie tes <br> informations personnelles</h2>
    </div>
  </div>
</div>

<div class="row" >

  <div class="column" style="width:8%"></div>
  <div id="connect" class="column mt-5 ml-5 pl-2" style="width: 35%;">
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="disc" >Type utilisateur :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="disc" name="disc" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4" >
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="civilite">Civilité :</label>
        </div>
        <div class="column " style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="civilite" name="civilite" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="nom" >Nom :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="nom" name="nom" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="prenom" >Prenom :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="prenom" name="prenom" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="rue" >Rue :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="rue" name="rue" style="width: 80%">
        </div>
      </div>
    </div>

    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="codePostal" >Code Postal :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="codePostal" name="codePostal" style="width: 80%">
        </div>
      </div>
    </div>

  </div>

  <div class="column" style="width:8%"></div>
  <div id="connect" class="column mt-5" style="width: 35%">
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="identifiant">Identifiant :</label>
        </div>
        <div class="column " style="width: 45%;">
          <input type="text" class="form-control ml-5" id="identifiant" name="identifiant" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="mdp" >Mot de passe :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="mdp" name="mdp" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="mail">Email :</label>
        </div>
        <div class="column " style="width: 45%;">
          <input type="text" class="form-control ml-5" id="mail" name="mail" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="telephone">Téléphone :</label>
        </div>
        <div class="column " style="width: 45%;">
          <input type="text" class="form-control ml-5" id="telephone" name="telephone" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="complement" >Complément :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="complement" name="complement" style="width: 80%">
        </div>
      </div>
    </div>
    <div class="column mt-4">
      <div class="form-inline mr-2">
        <div class="column" style="width: 40%; font-size: 22px;">
          <label for="ville" >Ville :</label>
        </div>
        <div class="column" style="width: 45%;">
          <input type="text" class="form-control ml-5 pl-2" id="ville" name="ville" style="width: 80%">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <div class="column" style="width:5%"></div>
  <div class="column mt-4" style="width:43%" >
    <div class="form-inline mr-5">
      <div class="column">
        <button [routerLink]="'/NPK/espace-client'" type="submit" id="btnRetour" class="btn mt-2 ml-4" style=" width: 100%; font-family: Cambria; font-size:22px; font-style: italic; color:#8bc34a">
          <i class="fas fa-angle-left mx-3"></i>Revenir à l'Espace Client
        </button>
      </div>
    </div>
  </div>
  <div class="column" style="width:26%"></div>
  <div class="column mt-4" style="width:23%" >
    <div class="form-inline mr-5">
      <div class="column">
        <button [routerLink]="'/NPK/informations-personnelles/modifier'" type="submit" id="btnRetour" class="btn mt-2 ml-4" style="width: 100%; font-family: Cambria; font-size:22px; font-style: italic;">
          Modifier<i class="fas fa-angle-right mx-3"></i>
        </button>
      </div>
    </div>
</div>

</div>
