<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 23%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid " alt="Responsive image"
           style="width: 100%;"/>
    </div>
    <div class="column " style="width: 72%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">{{denomination}},</h1>
      <h2 class="hr ">Bienvenue dans votre espace <br> (fournisseur)</h2>
    </div>
  </div>
</div>

<!-- ADMINISTRATEUR -->
<br><br>
<div class="colum mt-5">
  <div id="accordion">

    <!--INFORMATIONS-->
    <div>
      <div class="mx-5 " id="sideBar" style="background-color:#8bc34a">
        <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
          <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                  data-toggle="collapse" data-target="#detailInfo" aria-expanded="true" aria-controls="detailInfo">1. MODIFIER MES INFORMATIONS DE FACTURATION
          </button>

        </h5>
      </div>
      <div id="detailInfo" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
        <div>

        </div>
        <div>

      </div>
    </div>


    <!--PRODUITS -->
    <div>
      <div class="mx-5 mt-5" id="sideBar" style="background-color:#8bc34a">
        <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
          <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                  data-toggle="collapse" data-target="#detailFaune" aria-expanded="true" aria-controls="detailFaune">2. ACCÈDER À MES PRODUITS
          </button>

        </h5>
      </div>
      <div id="detailFaune" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
        <div>
          <h2 class="my-3" style="text-align: center">Mes ventes en cours</h2>
        </div>
        <div>
          <table class="table table-striped ml-5 pl-3" style="width: 92%">
            <thead>
            <tr>
              <th>Nom de la flore</th>
              <th>Variété</th>
              <th>Stock</th>
              <th>Vente active</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><div class="btn-group btn-group-sm">
                <a id="btnGroup" class="btn">
                  <i class="fa fa-edit"></i>
                </a>
                <a id="btnGroup" class="btn"><i class="fa fa-trash"></i></a>
              </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer ml-5 pl-3" style="width: 92%">
          <a class="btn"><i class="fa fa-plus"></i></a>
        </div>
      </div>
    </div>



    <br><br><br><br><br>

  </div>
</div>
