<div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Prenom</h1>
      <h2 class="hr ">Bienvenue dans votre espace <br> (administrateur)</h2>
    </div>
  </div>
</div>

<!-- ADMINISTRATEUR -->
<br><br>
<div class="colum mt-5">
  <div id="accordion">

    <!--ACCORDION 1 : Edition d'une fiche à partir de caractéristiques stockées-->
    <!--Bandeau1-->
    <div class="mx-5 " id="sideBar" style="background-color:#8bc34a">
      <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
        <button class="btn shadow-none collapsed"
                style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                data-toggle="collapse" data-target="#editionFiche" aria-expanded="true"
                aria-controls="editionFiche">1.
          EDITION D'UNE FICHE
        </button>
      </h5>
    </div>
    <!--Contenu-->
    <div id="editionFiche" class="collapse" aria-labelledby="sideBar" data-parent="#accordion">
      <!--Contenu 1.1 : nom de la nouvelle fiche -->
      <!--Mise au format CARD-->
      <div class="card mt-3 m-5 bg-transparent">
        <!--Header-->
        <h2 class="my-3" style="text-align: center">
          <p>{{nomFiche}}</p></h2>
        <!--Body-->
        <div class="card-body">
          <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Veuillez donner un nom à la fiche"
                   [(ngModel)]="nomFiche">
          </div>
        </div>
        <!--Footer-->
        <div class="card-footer">
          <!--Bouton ADD-->
          <div class="btn-group btn-group-lg float-left">
            <a class="btn btn-lg" style="background-color :#8bc34a; color: black" (click)="addCarac()"><i>Ajouter une
              caractéristique</i></a>
          </div>
          <!--Boutons SAVE et CANCEL-->
          <div class="btn-group btn-group-lg float-right">
            <!--Bouton SAVE-->
            <a class="btn" style="background-color :#8bc34a; color: black; border-right-color: black"
               (click)="saveNomFlore()">
              <i class="fa fa-check"></i>
            </a>
            <!--Bouton CANCEL-->
            <a class="btn" style="background-color :#8bc34a; color: black; border-left-color: black"
               (click)="cancelFlore()">
              <i class="fa fa-undo"></i>
            </a>
          </div>
        </div>
      </div>
      <!--Contenu 1.2 caractéristiques de la nouvelle fiche-->
      <!--Mise au format CARD-->
      <div class="card mt-3 m-5 bg-transparent" *ngIf="caracForm">
        <!--Header-->
        <h2 class="my-3" style="text-align: center">Caractéristiques </h2>
        <!--Body-->
        <div class="card-body">
          <div class="row form-group">
            <div class="column  ml-3" style="width: 89%;">
              <label for="typeCarac">Type de caractéristique:</label>
              <select class="form-control" id="typeCarac" name="typeCarac" [(ngModel)]="caracForm.typeCarac">
                <option value="">Veuillez sélectionner un type de caractéristique</option>
                <option *ngFor="let typeCarac of typeCarac" [value]="typeCarac">{{typeCarac}}</option>
              </select>
            </div>
            <div class="column mt-2 ">
              <div><br></div>
              <button class="btn" style="background-color :#8bc34a; color: black"
                      (click)="loadTypeCarac(caracForm.typeCarac)">Valider
              </button>
            </div>
          </div>
          <div class="row form-group">
            <div class="column  ml-3" style="width: 89%;">
              <label for="nomCarac">Nom de la caractéristique:</label>
              <select class="form-control" id="nomCarac" name="nomCarac" [(ngModel)]="caracForm.nom">
                <option value="">Veuillez sélectionner un type de caractéristique</option>
                <option *ngFor="let car of doublons()"
                        [value]="car">{{car}}</option>
              </select>
            </div>
            <div class="column mt-2 ">
              <div><br></div>
              <button class="btn" style="background-color :#8bc34a; color: black"
                      (click)="loadNomCarac(caracForm.typeCarac, caracForm.nom)">Valider
              </button>
            </div>
          </div>
          <div class="row form-group">
            <div class="column  ml-3" style="width: 89%;">
              <label for="valeur">Valeur de la caractéristique:</label>
              <select class="form-control" id="valeur" name="valeur" [(ngModel)]="caracForm.valeur">
                <option value="">Veuillez sélectionner un type de caractéristique</option>
                <option *ngFor="let car of carac"
                        [value]="car.valeur">{{car.valeur}}</option>
              </select>
            </div>
            <div class="column mt-2 ">
              <div><br></div>
              <button class="btn" style="background-color :#8bc34a; color: black"
                      (click)="loadTypeCarac(caracForm.typeCarac)">Valider
              </button>
            </div>
          </div>
        </div>
        <!--Footer-->
        <div class="card-footer">
          <!--Boutons SAVE et CANCEL-->
          <div class="btn-group btn-group-lg float-right">
            <!--Bouton SAVE-->
            <a class="btn" style="background-color :#8bc34a; color: black; border-right-color: black"
               (click)="saveCarac()">
              <i class="fa fa-check"></i>
            </a>
            <!--Bouton CANCEL-->
            <a class="btn" style="background-color :#8bc34a; color: black; border-left-color: black"
               (click)="cancelCarac()">
              <i class="fa fa-undo"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!--ACCORDION 2 : Création d'une nouvelle caractéristique-->
    <!--Bandeau2-->
    <div class="mx-5 mt-5" id="sideBar" style="background-color:#8bc34a">
      <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
        <button class="btn shadow-none collapsed"
                style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                data-toggle="collapse" data-target="#editionCaracteristique" aria-expanded="true"
                aria-controls="editionCaracteristique">2.
          EDITION D'UNE CARACTERISTIQUE
        </button>
      </h5>
    </div>
    <!--Contenu2-->
    <div id="editionCaracteristique" class="collapse" aria-labelledby="sideBar" data-parent="#accordion">

    </div>

    <!--Fin de l'accordion-->
  </div>
</div>
