.table-responsive {
  max-height: 620px;
}

#connect{
  font-size: xx-small;
}

#formulaireAdmin{
  border-style: solid;
  border-width: 1px;
  border-color: #8bc34a;
}

::ng-deep .completer-row{
  text-align: center;
  font-style: italic;

}
.completer-row{
  width: inherit;
}

