.table-responsive {
  max-height: 620px;
}

#connect{
  font-size: xx-small;
}

::ng-deep .completer-row{
  text-align: center;
  font-style: italic;

}
.completer-row{
  width: inherit;
}

#formulaireAdmin {
  border: 1px solid #8bc34a;
}
