<div>
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Prenom</h1>
      <h2 class="hr ">Bienvenue dans votre espace <br> (administrateur)</h2>
    </div>
  </div>
</div>

<!-- ADMINISTRATEUR -->
<br><br>
<div class="colum mt-5">
  <div id="accordion">

    <!--FLORE-->
    <!--LISTE-->
    <div>
      <div class="mx-5 " id="sideBar" style="background-color:#8bc34a">
        <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
          <button class="btn shadow-none collapsed"
                  style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                  data-toggle="collapse" data-target="#detailFlore" aria-expanded="true" aria-controls="detailFlore">1.
            ACCÈDER AUX FICHES FLORES
          </button>

        </h5>
      </div>
      <div id="detailFlore" class="collapse" aria-labelledby="sideBar" data-parent="#accordion">
        <!--Header-->
        <div>
          <h2 class="my-3" style="text-align: center">Base de données - Flore</h2>
        </div>
        <!--Body-->
        <div>
          <table class="table table-striped ml-5 pl-3" style="width: 92%">
            <thead>
            <tr>
              <th>Id</th>
              <th>Version</th>
              <th>Nom</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let flore of listFlore()">
              <td>{{flore.id}}</td>
              <td>{{flore.version}}</td>
              <td>{{flore.nom}}</td>
              <td>
                <div class="btn-group btn-group-sm">
                  <a id="btnGroup" class="btn" style="background-color :#8bc34a; color: black"
                     (click)="editFlore(flore.id)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a id="btnGroup" class="btn" style="background-color :#8bc34a; color: black"
                     (click)="deleteFlore(flore.id)"><i
                    class="fa fa-trash"></i></a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--Footer-->
        <div class="card-footer m-5">
          <a class="btn btn-lg" style="background-color :#8bc34a; color: black" (click)="addFlore()"><i
            class="fa fa-plus"></i></a>
        </div>

        <!--FORMULAIRE CARACTERISTIQUES-->
        <div class="card mt-3 m-5 bg-transparent" *ngIf="caracForm">
          <!--Header-->
          <div>
            <h2 class="my-3" style="text-align: center">Edition d'une caractéristique</h2>
          </div>
          <!--Body-->
          <div class="card-body">
            <div class="form-group">
              <label for="typeCarac">Type de caractéristique:</label>
              <select class="form-control" id="typeCarac" [(ngModel)]="caracForm.typeCarac">
                <option value="">Choisir un type de caractéristique</option>
                <option value="">Sol</option>
                <option value="">Flore</option>
                <option value="">Strate</option>
                <option value="">Saison</option>
                <option value="">Condition climatique</option>
              </select>
            </div>
<!--            &lt;!&ndash;Appel dynamique&ndash;&gt;-->
<!--            <select class="form-control" id="typeCarac" [(ngModel)]="caracForm.typeCarac">-->
<!--              <option value="">Choisir un type de caractéristique</option>-->
<!--              <option *ngFor="let carac of caracForm" value="{{carac}}">{{carac}}</option>-->
<!--            </select>-->
            <div class="form-group">
              <label for="nom">Nom de la caractéristique:</label>
              <select class="form-control" id="nom" [(ngModel)]="caracForm.nom">
                <option value="">Choisir un nom de caractéristique</option>
                <option value="">Texture</option>
                <option value="">Humidité</option>
                <option value="">Arrosage</option>
                <option value="">pH</option>
              </select>
            </div>
            <div class="form-group">
              <label for="valeurCarac">Valeur de la caractéristique:</label> <input type="text"
                                                                                    class="form-control"
                                                                                    id="valeurCarac" name="valeurCarac"
                                                                                    [(ngModel)]="caracForm.valeur">
            </div>
          </div>
          <!--Footer-->
          <!--          <div class="card-footer">-->
          <!--            <div class="btn-group btn-group-lg float-right">-->
          <!--              <a class="btn" style="background-color :#8bc34a; color: black"(click)="save()">-->
          <!--                <i class="fa fa-check"></i>-->
          <!--              </a>-->
          <!--              <a class="btn" style="background-color :#8bc34a; color: black"(click)="cancel()">-->
          <!--                <i class="fa fa-undo"></i>-->
          <!--              </a>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>

      <!--        &lt;!&ndash;FORMULAIRE FLORE&ndash;&gt;-->
      <!--        <div class="card mt-3 m-5 bg-transparent" *ngIf="floreForm">-->
      <!--          <div>-->
      <!--            <h2 class="my-3" style="text-align: center">Edition d'une flore</h2>-->
      <!--          </div>-->
      <!--          <div class="card-body">-->
      <!--            <div class="form-group">-->
      <!--              <label for="id">Identifiant:</label>-->
      <!--              <input type="text" class="form-control" id="id" name="id" [(ngModel)]="floreForm.id">-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <label for="nom">Nom:</label>-->
      <!--              <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="floreForm.nom">-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <label for="niveauEtude">Type de caractéristique:</label>-->
      <!--              <select class="form-control" id="niveauEtude" [(ngModel)]="floreForm.referentielCaracteristiques">-->
      <!--                <option value="">Choisir un type de caractéristique:</option>-->
      <!--                <option value=""></option>-->
      <!--                <option value=""></option>-->
      <!--                <option value=""></option>-->
      <!--                <option value=""></option>-->
      <!--                <option value=""></option>-->
      <!--              </select>-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <label for="nomCarac">Nom de la caractéristique:</label> <input type="text"-->
      <!--                                                                              class="form-control" id="nomCarac"-->
      <!--                                                                              name="nomCarac"-->
      <!--                                                                              [(ngModel)]="floreForm.referentielCaracteristiques">-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <label for="valeurCarac">Valeur de la caractéristique:</label> <input type="text"-->
      <!--                                                                                    class="form-control"-->
      <!--                                                                                    id="valeurCarac" name="valeurCarac"-->
      <!--                                                                                    [(ngModel)]="floreForm.referentielCaracteristiques">-->
      <!--            </div>-->
      <!--            <div class="form-group">-->
      <!--              <label for="carac">Caractéristiques:</label> <select-->
      <!--              class="form-control" id="caracteristiqueId" name="caracteristiqueId">-->
      <!--            </select>-->
      <!--            </div>-->
      <!--          </div>-->

      <!--          <div class="card-footer">-->
      <!--            <div class="btn-group btn-group-lg float-right">-->
      <!--              <a class="btn btn-success" (click)="save()">-->
      <!--                <i class="fa fa-check"></i>-->
      <!--              </a>-->
      <!--              <a class="btn btn-warning" (click)="cancel()">-->
      <!--                <i class="fa fa-undo"></i>-->
      <!--              </a>-->
      <!--            </div>-->
      <!--          </div>-->

      <!--        </div>-->

      <!--      </div>-->
      <!--    </div>-->

      <!--FAUNE-->
      <div>
        <div class="mx-5 mt-5" id="sideBar" style="background-color:#8bc34a">
          <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed"
                    style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                    data-toggle="collapse" data-target="#detailFaune" aria-expanded="true"
                    aria-controls="detailFaune">2.
              ACCÈDER AUX FICHES FAUNES
            </button>

          </h5>
        </div>
        <div id="detailFaune" class="collapse" aria-labelledby="sideBar" data-parent="#accordion">
          <div>
            <h2 class="my-3" style="text-align: center">Base de données - Faune</h2>
          </div>
          <div>
            <table class="table table-striped ml-5 pl-3" style="width: 92%">
              <thead>
              <tr>
                <th>Id</th>
                <th>Version</th>
                <th>Nom</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let faune of listFaune()">
                <td>{{faune.id}}</td>
                <td>{{faune.version}}</td>
                <td>{{faune.nomFaune}}</td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <a id="btnGroup" class="btn btn-warning" (click)="editFaune(faune.id)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a id="btnGroup" class="btn btn-warning" (click)="deleteFaune(faune.id)"><i
                      class="fa fa-trash"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <a class="btn btn-success btn-lg" (click)="addFaune()"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>

      <!--CONSEIL-->
      <div>
        <div class="mx-5 mt-5" id="sideBar" style="background-color:#8bc34a">
          <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed"
                    style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                    data-toggle="collapse" data-target="#detailFaune" aria-expanded="true"
                    aria-controls="detailFaune">3.
              ACCÈDER AUX FICHES CONSEILS
            </button>

          </h5>
        </div>
        <div id="detailFaune" class="collapse" aria-labelledby="sideBar" data-parent="#accordion">
          <div>
            <h2 class="my-3" style="text-align: center">Base de données - Conseils</h2>
          </div>
          <div>
            <table class="table table-striped ml-5 pl-3" style="width: 92%">
              <thead>
              <tr>
                <th>Id</th>
                <th>Version</th>
                <th>Nom</th>
                <th>Options</th>
              </tr>
              </thead>
              <tbody>
              <!--
              <tr *ngFor="let faune of listFaune()">
                <td>{{faune.id}}</td>
                <td>{{faune.version}}</td>
                <td>{{faune.nomFaune}}</td>
                <td><div class="btn-group btn-group-sm">
                  <a id="btnGroup" class="btn btn-warning" (click)="editFaune(faune.id)">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a id="btnGroup" class="btn btn-warning" (click)="deleteFaune(faune.id)"><i class="fa fa-trash"></i></a>
                </div>
                </td>
              </tr>
              </tbody>
              -->
            </table>
          </div>
          <div class="card-footer">
            <a class="btn btn-success btn-lg" (click)="addFaune()"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>

      <br><br><br><br><br>

    </div>
  </div>
