<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 23%;">
      <img src="assets/images/logosansfondblanc.png"
           class="rounded-circle img-fluid " alt="Responsive image"
           style="width: 100%;" />
    </div>
    <div class="column "
         style="width: 72%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Rechercher tous nos Conseils</h1>
      <h2 class="hr ">Pour réussir votre jardin au naturel</h2>
    </div>
  </div>
</div>
