<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Tester des synergies</h1>
      <h2 class="hr ">Et trouver les bonnes <br> associations pour vos plantes</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button [routerLink]="'/NPK/synergie/simulateur-un'"  class="btn column mr-5" type="button"  style="width:40%; height: 10%;text-align: center;border-color: #8bc34a" >

      <h1 class="mt-2">Simulateur : 1</h1>
      <p class="mt-4" style="font-size: large"> Vérifier l'affinité entre deux plantes.</p><br/><br/>
    </button>

    <button [routerLink]="'/NPK/synergie/simulateur-deux'" class="btn column border ml-5" type="button" style="width:40%; height: 10%; text-align: center;" disabled>

      <h1 class="mt-2">Simulateur : 2</h1>
      <p class="mt-4 mb-3" style="font-size: large">Trouver des plantes par affinité avec une autre et/ou avec une caractéristique spécifique.<br/>(Bientôt disponible)</p>

    </button>

  </div>


</div>
