#btnSubmit, #btnConnect {
  background-color: #8bc34a;
}

#btnSubmit:hover, #btnConnect:hover {
  transition-duration: 0.4s;
  box-shadow: 4px 4px #8bc34a;
  outline: none;
  background-color: #292b2c;
  color: white;
}

#btnSubmit:active, #btnSubmit:focus {
  box-shadow: none;
  outline: none;
  border-color: #8bc34a;
}

#btnConnect:active, #btnConnect:focus {
  box-shadow: none;
  outline: none;
  border-color: #8bc34a;
}
