.form-control {
  box-shadow: none;
  outline: none;
}

#btnSubmit {
  background-color: #8bc34a;
}

#btnSubmit:hover, #btnSubmit:active, #btnSubmit:focus {
  box-shadow: none;
  outline: none;
}

#btnConnect:hover, #btnConnect:active, #btnConnect:focus {
  box-shadow: none;
  outline: none;
}
