<div>
  <div class="row justify-content-center align-items-center mt-4">

    <div class="column" style="width: 30%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 100%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2">Connectez-vous</h1>
      <h2 class="hr">Pour profiter de toutes <br> les fonctionnalités du site !</h2>
    </div>
  </div>
</div>


<div id="connect" class="column mt-5">
  <div class="column mt-5">
      <div class="form-inline mr-5">
        <div class="column" style="width: 40%"></div>
        <div class="column ml-5" style="width: 25%; font-size: 22px;">
          <label for="identifiant">Identifiant :</label>
        </div>
        <div class="column " style="width: 25%;">
          <input type="text" class="form-control ml-5" id="identifiant" name="identifiant" style="width: 80%" [(ngModel)]="session.username">
        </div>
      </div>
  </div>

  <div class="column mt-5">
      <div class="form-inline mr-5">
        <div class="column" style="width: 40%"></div>
        <div class="column ml-5" style="width: 25%; font-size: 22px;">
          <label for="mdp" >Mot de passe :</label>
        </div>
        <div class="column" style="width: 25%;">
          <input type="password" class="form-control ml-5 pl-2" id="mdp" name="mdp" style="width: 80%" [(ngModel)]="session.password">
        </div>
      </div>
  </div>

  <div class="column mt-5" style="width: 25%;" *ngIf="authechecBoolean">Identifiant et mot de passe non compatibles.</div>


  <div class="column mt-5 mb-5">
    <div class="form-inline mr-5">
      <div class="column ml-5" style="width: 40%"></div>
      <div class="column" style="width: 25%; font-size: 22px;">
        <button type="submit" id="btnSubmit" class="btn mt-2" style=" width: 80%;" (click)="creation()">CRÉER UN COMPTE</button>
      </div>
      <div class="column" style="width: 25%;">
        <button type="submit" id="btnConnect" class="btn mt-2 ml-5" style=" width: 80%;" (click)="connexion()">SE CONNECTER</button>
      </div>
    </div>
  </div>
  <div class="column mt-5" style="width: 25%;" *ngIf="creationEchecBoolean">Identifiant déjà utilisé</div>
  <div class="column mt-5" style="width: 25%;" *ngIf="creationVideBoolean">Identifiant et mot de passe doivent être remplis.</div>

</div>



