<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Qui sommes-nous ? </h1>
      <h2 class="hr ">Pour découvrir le projet <br> et l'objectif du site</h2>
    </div>
  </div>
</div>

<div class="colum mt-5">
  <div id="accordion">

    <!--SLOGAN-->
    <div>
      <div class="mx-5 " id="sideBar" style="background-color:#8bc34a">
        <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
          <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                  data-toggle="collapse" data-target="#detailSlogan" aria-expanded="true" aria-controls="detailSlogan">SLOGAN
          </button>
        </h5>
      </div>
      <div id="detailSlogan" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
        <div class="column mx-5" >
          Notre slogan ?
          <div  class="column mx-5" style="font-size: 46px; font-family: 'Brush Script MT';" >
            <i class="fas fa-quote-left" ></i>
                Recherchez, Testez et à vos Potagers !
            <i class="fas fa-quote-right" ></i>
          </div>
        </div>
      </div>
    </div>

    <!--PROJET-->
    <div>
      <div class="mx-5 " id="sideBar" style="background-color:#8bc34a">
        <h5 class="mb-0 ml-5 pl-3" style="font-size: large; font-weight: bold">
          <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 18px; font-weight: bold"
                  data-toggle="collapse" data-target="#detailProjet" aria-expanded="true" aria-controls="detailProjet">PROJET
          </button>
        </h5>
      </div>
      <div id="detailProjet" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >

      </div>
    </div>

  </div>
</div>
