<div class="column ">
  <div class="row justify-content-center align-items-center mt-4">
    <div class="column" style="width: 5%;"></div>
    <div class="column" style="width: 25%;">
      <img src="assets/images/logosansfondblanc.png" class="rounded-circle img-fluid ml-2" alt="Responsive image"
           style="width: 70%;"/>
    </div>
    <div class="column " style="width: 60%; text-align: center; align: middle;">
      <h1 class="mb-4 mt-2 ">Qui sommes-nous ? </h1>
      <h2 class="hr ">Pour découvrir le projet <br> et l'objectif du site</h2>
    </div>
  </div>
</div>

<div class="row my-5 mx-5" id="borderDiv">
  <div class="colum mt-5">

    <h3 class="mx-5 mb-2 text-justify" style="font-size:18px;">NPK (Notre Prédicteur de Kompagnonnage) est une application Web, basée sur les principes de la permaculture, qui a pour objectif de vous accompagner et de vous aider à la mise en place de votre jardin naturel.</h3>
    <div id="accordion" class="my-5">

      <!--PERMA-->
      <div>
        <div class="mx-5 mb-3" id="sideBar" >
          <h5 class="mb-0" style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 20px; font-weight: bold; font-style: italic; color: #8bc34a; background-color: transparent;"
                    data-toggle="collapse" data-target="#detailPerma" aria-expanded="true" aria-controls="detailPerma">Qu'est-ce que la Permaculture ?
              <i class="fas fa-angle-down float-right"></i>
            </button>
          </h5>
        </div>
        <div id="detailPerma" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
          <div class="column mx-5 px-5" >
            <div  class="column mb-5 text-justify"  style="font-family: Helvetica">
              Méthode théorisée dans les années 1970 par Bill Mollison et David Holmgren, la permaculture (permanent agriculture) est une forme d’agriculture qui vise à s’inspirer de la nature pour développer des systèmes agricoles en synergie,
              basés sur la diversité des cultures, leur résilience et leur productivité naturelle. L’objectif étant de produire un environnement harmonieux, résilient, productif et durable. Mais très vite, dès les années 1980, le terme s’est étendu à une
              approche systémique qui va bien au-delà du domaine agricole. <br><br>
              Désormais synonyme de permanent culture au sens large, la permaculture désigne une éthique et une méthode globales visant à la conception de systèmes intégrés dans une stratégie de développement durable, où l’activité humaine doit tenir compte
              des écosystèmes naturels et s’exercer en harmonie et en interconnexion avec eux, dans un souci constant d’efficacité, de soutenabilité et de résilience. <br><br>

              Elle est basée sur 3 piliers :
              <br>-	Prendre soin de la terre:  il est possible de garantir du rendement tout en respectant, préservant la biodiversité et en nourrissant la vie du sol.
              <br>-	Prendre soin de l’homme: développement personnel et communication améliorent les interactions et la condition humaine. Unir les forces et les ressources humaines pour réaliser des actions collectives.
              <br>-	Partager équitablement: créer une abondance alimentaire, de liens sociaux, d’écologie et même financière, pour que chacun puisse vivre confortablement et équitablement.


            </div>
          </div>
        </div>
      </div>

      <!--DESIGN-->
      <div>
        <div class="mx-5 mb-3 " id="sideBar">
          <h5 class="mb-0 " style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 20px; font-weight: bold; font-style: italic; color: #8bc34a; background-color: transparent;"
                    data-toggle="collapse" data-target="#detailDesign" aria-expanded="true" aria-controls="detailDesign">Qu'est-ce que le design permaculturel ?
              <i class="fas fa-angle-down float-right"></i>
            </button>
          </h5>
        </div>
        <div id="detailDesign" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
          <div class="column mx-5 px-5" >
            <div  class="column mb-1 text-justify"  style="font-family: Helvetica">
              Le jardin reste la plus accessible façon de s'initier à la permaculture puisqu'on va ainsi produire ses propres fruits et légumes permettant une autonomie à ce niveau. Il est nécessaire d'organiser le compagnonnage des plantes,
              de pratiquer une culture biologique et d'organiser son potager selon des formes "design" qui permettent d'optimiser la culture et les récoltes. <br><br>

              De plus en plus de jardiniers redécouvrent l’intérêt d’associer les légumes afin de réduire les populations de ravageurs. Il semblerait en effet que plus on favorise la diversité au sein d’un milieu, moins les attaques de prédateurs
              soient virulentes. Le mélange d’espèces apporterait aussi bien d’autres avantages : un gain de place, une meilleure exploration du sol par les racines, une facilité de récolte, le spectacle d’un potager coloré. C’est sur ce principe
              que repose NPK. <br><br>
            </div>
          </div>
        </div>
      </div>

      <!--Kompa-->
      <div>
        <div class="mx-5 mb-3 " id="sideBar">
          <h5 class="mb-0 " style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 20px; font-weight: bold; font-style: italic; color: #8bc34a; background-color: transparent;"
                    data-toggle="collapse" data-target="#detailKompa" aria-expanded="true" aria-controls="detailKompa">Qu'est-ce que le Kompagnonnage ?
              <i class="fas fa-angle-down float-right"></i>
            </button>
          </h5>
        </div>
        <div id="detailKompa" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
          <div class="column mx-5 px-5" >
            <div  class="column mb-1 text-justify"  style="font-family: Helvetica">
              Le Kompagnonnage est une ancienne méthode de culture pratiquée par des générations de jardiniers avant la mise au point des pesticides chimiques.<br><br>

              Cette technique consiste à fournir le meilleur environnement possible pour la culture des légumes et des fleurs en choisissant judicieusement leur voisinage grâce
              à deux types d’association : allélopathiques et associations.<br><br>
              Les associations allélopathiques sont basées sur le simple fait qu'en poussant, elles peuvent avoir une action positive ou négative sur leurs voisines. Profiter de ce phénomène permet d'améliorer considérablement les récoltes.<br><br>
              Les associations « dans le temps et dans l’espace » prennent en compte le fait que toutes les plantes ne poussent pas à la même vitesse, et ne prennent pas la même place dans le sol ou au-dessus du sol. En choisissant bien, le jardinier ou maraîcher peut tirer parti de cette réalité. <br><br>
            </div>
          </div>
        </div>
      </div>

      <!--PROJET-->
      <div>
        <div class="mx-5 mb-3 " id="sideBar">
          <h5 class="mb-0 " style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 20px; font-weight: bold; font-style: italic; color: #8bc34a; background-color: transparent;"
                    data-toggle="collapse" data-target="#detailProjet" aria-expanded="true" aria-controls="detailProjet">Pourquoi avoir créé NPK ?
              <i class="fas fa-angle-down float-right"></i>
            </button>
          </h5>
        </div>
        <div id="detailProjet" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
          <div class="column mx-5 px-5" >
            <div  class="column mb-1 text-justify"  style="font-family: Helvetica"><h3 style="font-size: 18px">
              NPK a été pensé pour aider les jardiniers, qu’ils soient amateurs ou non, afin d’obtenir une meilleure productivité de leurs plants tout en bénéficiant des synergies
              existantes entre les plantes et un gain de place non négligeable. <br><br>
              Notre slogan ?<br><br>
              <div class="text-center" style="font-weight: bold; font-style: italic; color: #d81b60; font-size: 24px; font-family: Cambria">" Recherchez, Testez, À vos potagers ! "</div><br><br>
            </h3>
            </div>
          </div>
        </div>
      </div>

      <!--EQUIPE-->
      <div>
        <div class="mx-5 mb-3 " id="sideBar">
          <h5 class="mb-0 " style="font-size: large; font-weight: bold">
            <button class="btn shadow-none collapsed" style="width: 100%; text-align: left; font-size: 20px; font-weight: bold; font-style: italic; color: #8bc34a; background-color: transparent;"
                    data-toggle="collapse" data-target="#detailEquipe" aria-expanded="true" aria-controls="detailEquipe">Qui sont les membres de l'équipe ?
              <i class="fas fa-angle-down float-right"></i>
            </button>
          </h5>
        </div>
        <div id="detailEquipe" class="collapse" aria-labelledby="sideBar" data-parent="#accordion" >
          <div class="column mx-5" >
            <div  class="column mb-5 mr-5 pl-5 text-justify"  style="font-family: Helvetica">
              <div class="row">
                <img src="assets/images/Keke.PNG" class="ml-5 mr-3 " style="width:18%; height: 170px;">
                <img src="assets/images/Mama.PNG" class="mx-3" style="width:18%; height: 170px;">
                <img src="assets/images/Dada.PNG" class="mx-3" style="width:18%; height: 170px;">
                <img src="assets/images/Cece.PNG" class="ml-3" style="width:18%; height: 170px;">
              </div>
              <div class="row">
                <div class="ml-5 mt-2 mr-3 text-center" style="width:18%; height: 170px;">Kévin BOUGIS</div>
                <div class="mx-3 mt-2 text-center" style="width:18%; height: 170px;">Manon CHARLES</div>
                <div class="mx-3 mt-2 text-center" style="width:18%; height: 170px;">Damien DUBREUIL</div>
                <div class="ml-3 mt-2 text-center" style="width:18%; height: 170px;">Cécile LARROUY</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
